.header
	width 100%
	background rgba(0,0,0,0.25)
	position absolute
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				@media(max-width 414px)
					margin-left 10px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.core-cuentanos
	.fcorecuentanos
		background-image url("../../image/headerlogin.jpg") 
		background-size cover
		height 267px
		background-repeat no-repeat
		position relative
		.tituloVacantes
			position absolute
			bottom 5%
			h2
				color rgba(254,254,254,0.5)
				font 50px ubuntumedium
				@media(max-width 768px)
					font 33px ubuntumedium
			p
				color #fff
				margin-bottom 29px
				font 20px ubuntulight
	.fondoBg
		background #fff9f8
		padding 5em 0px
		.box-preguntas
			background #fff
			text-align center
			img
				margin-top -56px
			form
				text-align left 
				margin 50px 50px 50px
				font 18px ubuntulight
				@media(max-width 414px)
					margin 50px 15px 50px
				.form-group
					margin-bottom 30px
					label.error
						color #f00
						font-size 13px
				label
					font-weight 400
					color #222
				select
					margin-bottom 10px
				a, button
					font 13px ubuntumedium
					text-align center
					margin 10px 0 0 0
					border-radius 10px
					padding 10px
					border 0px
					color #fff
					background #888
					&:hover
						background #222
				#postular
					background #d00
					@media(max-width 768px)
						margin-bottom 15px
					&:hover
						background #cc2317
					
	#popup
		background rgba(0,0,0,0.90)
		display none
		position fixed
		top 0
		height 100%
		width 100%
		z-index  9999
		@media(max-width 736px)
			overflow-y scroll
			overflow-x hidden
			padding-top 270px
		@media(max-width 414px)
			padding-top 15px
		@media(max-width 375px)
			padding-top 50px
		.center-popup
			display flex
			flex-flow column wrap
			position relative
			align-items center
			justify-content center
			height 100%
			.popup
				position relative
				height auto
				width 50%
				background #fff9f8
				border-radius 8px
				padding-bottom 20px
				padding 0px 10%
				@media(max-width 768px)
					width 75%
				@media(max-width 736px)
					margin-bottom 15px
				@media(max-width 414px)
					width 93%
					padding 0px 15px
				img
					position absolute
					top -13%
					left 40%
					@media(max-width 414px)
						left 30%
					button
						display block
						margin auto
						width 100%
						border none
						padding 10px 0
						border-radius 8px
						margin-top 10px
						background #dd0000
						color #fefefe
						font 15px ubuntumedium
				h2
					color #dd0000
					font 25px ubunturegular
					margin-top 125px
					text-align center
				p
					font 14px ubuntulight
					color #05050d
					margin-top 30px
					text-align center
				#cerrarPopup
					display block
					color #fff
					background #dd0000
					bottom 0
					left 0
					font 17px ubunturegular
					width 60%
					margin 40px auto 40px auto
					position relative
					text-align center
					text-decoration none
					border-radius 8px
					padding 7px 0
		a
			position absolute
			bottom 2%
			left 50%
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
@media (max-width: 768px)
	.container
		width 100%