.header
	width 100%
	background rgba(0,0,0,0.25)
	position absolute
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				@media(max-width 414px)
					margin-left 10px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.core-descVacantes
	.fcoreVacantes
		background-image url("../../image/banner-vacante.jpg") 
		background-size cover
		height 370px
		background-repeat no-repeat
		position relative
		.tituloVacantes
			position absolute
			bottom 5%
			h1
				color rgba(254,254,254,0.5)
				font 70px ubuntumedium
				@media(max-width 768px)
					font 54px ubuntumedium
			p
				color #fff
				margin-bottom 29px
				font 20px ubuntulight
	.fondoFiltro
		background rgba(221,0,0,0.8)
		padding 40px 0
		.textfiltro
			text-align right
			@media(max-width 768px)
				text-align center
		p
			color #fefefe
			font 24px ubuntulight
			margin 10% 0 0 0
			@media(max-width 768px)
				margin 0px
			span
				color #fefefe
				font 28px ubuntulight
		label
			display block
			color #fefefe
			position relative
			&:before
				background-image url("../../image/downselect.png")
				content ' '
				top 39px
				right 6px
				position absolute
				width 14px
				height 12px
				z-index 9
		select
			// background-repeat no-repeat
			// background-position 95%
			background #fff
			width 100%
			-webkit-appearance none
			font 14px ubuntulight
			direction rtl
			color #5d5d5d
			padding 10px 15% 10px 0
			border none
			border-radius 8px
			position relative
		button
			margin-top 27px
	.inner-vacante
		background #fff9f8
		padding-bottom 30px
		.container
			a
				font 15px ubuntulightitalic
				color #828181
				margin 30px 0 20px 0
				text-decoration none
				display block
			a.atras
				display inline-block
		.container-descripcion
			padding 0
			box-shadow 0 0 10px 3px #cbcbcb
			margin-bottom 30px
			border-radius 8px
			.inner-descripcion
				background #dd0000
				border 1px solid #dd0000
				border-top-left-radius 8px
				border-top-right-radius 8px
				padding 30px 15px 15px 15px
				.container
					h2
						font 32px ubunturegular
						color #fff
						margin 0
					img
						vertical-align sub
					span
						color #fff
						font 18px ubunturegular
						margin-left 5px
			.seccion-descripcion
				margin 0
			.fechaPublicacion
				margin 30px 0 15px 15px
				@media(max-width 414px)
					padding 30px 0 15px 15px
					margin 0px
				img
					vertical-align inherit
					@media(max-width 414px)
						float left
				p
					color #05050d
					display inline-block
					font 16px ubunturegular
					margin-left 5px
					@media(max-width 414px)
						display block
						margin-left 18px
					span
						color #05050d
						font 15px ubuntulight
			.container-fluid
				.separador
					border-bottom 2px solid #d90602
			.descripcion-vacante
				margin 30px 0 15px 15px
				h4
					color #05050d
					font 23px ubunturegular
				p
					color #05050d
					font 16px ubuntulight
					padding-right 25px
					margin 0
			.funcion-vacante
				margin 0 15px 15px 15px
				h4
					color #05050d
					font 23px ubunturegular
				ul
					padding-left 15px
					li
						color #05050d
						padding-right 25px
			.requisitos-vacante
				margin 0 15px 15px 15px
				h4
					color #05050d
					font 23px ubunturegular
				ul
					padding-left 15px
					li
						color #05050d
						padding-right 25px
						font 16px ubuntulight
			.beneficios-vacante
				margin 0 15px 15px 15px
				h4
					color #05050d
					font 23px ubunturegular
				ul
					padding-left 15px
					li
						color #05050d
						padding-right 25px
						font 16px ubuntulight	
			.horario-vacante
				margin 0 15px 15px 15px
				h4
					color #05050d
					font 23px ubunturegular
				ul
					padding-left 0px
					list-style none
					li
						color #05050d
						font 16px ubuntulight
						padding-right 25px
						margin 0
			.postular-vacante
				a
					color #fff
					font 20px ubunturegular
					background #dd0000
					margin 40px auto 30px auto
					width 25%
					border-radius 8px
					padding 8px 0
					text-align center
					@media(max-width 414px)
						width 100%
			.compartir-vacante
				margin 15px
				p
					display inline-block
				a
					display inline-block
					margin-left 15px
					i
						color #dd0000
		.containerTrelacionados
			.tituloPrelacionados
				background #ebebeb
				padding 20px 8px
				box-shadow 0 0 10px 3px #cbcbcb
				border-radius 8px
				margin-top 114px
				@media(max-width 768px)
					margin-top 5px
				h3
					font 22px ubunturegular
					color #5b5a5a
					margin 0 0 0 15px
					&:before
						content ""
						border-left 5px solid #dd0000
						padding 0 5px
			.pRelacionados
				margin-top 15px
				background #fff
				border-radius 8px
				box-shadow 0 0 10px 3px #cbcbcb
				padding 15px
				span
					font 13px ubuntulightitalic
					color #05050d
				h3
					font 20px ubunturegular
					margin 10px 0 0 0
					color #dd0000
				h4
					font 15px ubunturegular
					color #05050d
					margin 0
				a
					background #a1a1a1
					margin 10px 0
					padding 10px 0
					text-align center
					color #fff
					font 13px ubunturegular
					border-radius 8px
					width 50%
					@media(max-width 768px)
						width 100%
	#popup
		background rgba(0,0,0,0.90)
		display none
		position fixed
		top 0
		height 100%
		width 100%
		z-index  9999
		@media(max-width 736px)
			overflow-y scroll
			overflow-x hidden
			padding-top 270px
		@media(max-width 414px)
			padding-top 15px
		@media(max-width 375px)
			padding-top 50px
		.center-popup
			display flex
			flex-flow column wrap
			position relative
			align-items center
			justify-content center
			height 100%
			.popup
				position relative
				height auto
				width 50%
				background #fff9f8
				border-radius 8px
				padding-bottom 20px
				@media(max-width 768px)
					width 75%
				@media(max-width 736px)
					margin-bottom 15px
				@media(max-width 414px)
					width 93%
				img
					position absolute
					top -13%
					left 40%
					@media(max-width 414px)
						left 30%
				.box-frm1
					padding 0px 20%
					@media(max-width 1024px)
						padding 0px 5%
					.col-xs-6
						@media(max-width 414px)
							width 100%
							text-align left
				.separador
					text-align center
					h4
						color #05050d
						font 16px ubuntulight
						&:before
							content ""
							border-bottom 1px solid #959595
							position absolute
							left 35px
							width 37%
							bottom 18px
						&:after
							content ""
							border-bottom 1px solid #959595
							position absolute
							right 35px
							width 37%
							bottom 18px
				.facebook
					a
						background #4267b2
						display block
						text-align center
						margin auto
						color #fff
						width 174px
						border-radius 3px
						text-decoration none
						padding 12px 0
						i
							border 1px solid
							border-radius 3px
							background #fff
							color #4267b2
							font-size 18px
							vertical-align sub
				.registrate
					span
						display inline-block
						font 16px ubuntulight
						color #05050d
						margin 15px 0 20px 0
					a
						font 16px ubuntumedium
						color #05050d
						text-decoration underline
						margin-left 12px
						position initial
						margin 0
						display initial
						margin 15px 0 20px 0
				form
					margin-top 140px
					label
						width 50%
					input
						width 100%
						display block
						margin 10px auto auto auto
						border-radius 8px
						border 1px solid #707070
						border none
						font 14px ubuntulight
						padding-left 28px
						padding-top 10px
						padding-bottom 10px
						background-position: 1% 50%; 
					.usuario
						background-image url("../../image/icouser.png")
						background-repeat no-repeat
					.contrasena
						background-image url("../../image/icopassword.png")
						background-repeat no-repeat
					button
						display block
						margin auto
						width 100%
						border none
						padding 10px 0
						border-radius 8px
						margin-top 10px
						background #dd0000
						color #fefefe
						font 15px ubuntumedium
				input
					margin-top 15px
				label
					font 12px ubuntulight
					color #5d5d5d
					vertical-align text-bottom
					margin 0
				a
					position relative
					bottom 0
					left 0
					display block
					color #5d5d5d
					font 12px ubuntulight
					text-decoration underline
					margin-top 15px
				.optionChk
					width 76%
					text-align center
					margin-top 20px
				#cerrarPopup
					position absolute
					top -1%
					left 94%
					color #afaba8
					font 22px ubuntumedium
					display block
					text-decoration none
		a
			position absolute
			bottom 2%
			left 50%
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
@media (max-width: 768px)
	.container
		width 100%