.footer
	background rgba(64,64,64,0.8)
	padding 9px
	.container
		.row
			p
				color #fefeff
				font 13px ubuntulight
				margin 0
				display inline-block
			a
				color #fff
				text-decoration none
				margin-left 14px
				transition all ease .3s
				&:hover
					color #ff1d1d
			.footerMi
				margin-left 0
			.copyRight
				text-align right