.fondoNegro
	background rgba(0,0,0,0.25)
.fondoRojo
	background rgba(255,0,0,1)
.header
	width 100%
	position absolute
	transition all 0.5s cubic-bezier(0, 0, 0.58, 1)
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.inicio
	background-image url("../../image/fondohome.jpg")
	background-size cover
	background-repeat no-repeat
	position relative
	.inner-container
		height 100%
		display flex
		align-items center
		justify-content center
		h1
			font 89px ubuntumediumitalic
			color #fff
			@media (max-width: 414px)
				font 54px ubuntumediumitalic
	.menu
		bottom 10%
		margin-left auto
		margin-right auto
		left 0
		position absolute
		right 0
		nav
			text-align center
			ul
				display inline-flex
				justify-content space-around
				padding 0px
				@media(max-width 414px )
					display inline-block
				li
					list-style none
					margin-left 30px
					margin-right 30px
					@media(max-width 667px )
						margin-left 15px
						margin-right 15px
					&:hover
						div
							opacity 1
							width 50%
							left 50%
					a
						font 23px ubunturegular
						color #fff
						text-decoration none
					div
						border-bottom:4px solid #fff
						position relative
						top 0
						left 0
						opacity 0
						transition all ease .5s
						width 0
					.subrayado
						border-bottom 4px solid #fff
						position relative
						top 0
						left 50%
						transition all ease .5s
						width 50%			
						opacity 1
		.arrow
			display block
			text-align center
			margin-top 15%
.nosotros
	background #fff
	position relative
	padding-bottom 60px
	padding-top 35px
	.header2
		background #fff
		.container
			.row
				a
					color #56534b
					font-size 45px
					text-decoration none
					img
						margin-top 20px
				.setLogin
					margin-top 30px
					img
						border-radius 50%
						border 1px solid #56534b
						object-fit cover
						margin auto
						width auto
	.container
		h2
			color #505050
			font 90px ubuntumedium
			@media(max-width 414px)
				font 54px ubuntumedium
		.descripcion
			margin-top 40px
			h4
				color #ff1d1d
				font 45px ubunturegular
			p
				color #515151
				font 20px ubuntulight
			a
				color #434343
				font 17px ubunturegular
				display block
				margin-top 50px
				text-decoration underline
		img
			margin-top 52px
			margin-bottom 30px
			max-width 100%
		.row
			.arrow
				display block
				text-align center
				margin-top 15%
				img
					margin 0
					width initial
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
.beneficios
	background-image url("../../image/fondo-beneficios.jpg")
	background-size cover
	background-repeat no-repeat
	position relative
	padding-bottom 40px
	padding-top 35px
	.header2
		.container
			.row
				a
					color #fff
					font-size 45px
					text-decoration none
					img
						margin-top 20px
				.setLogin
					margin-top 30px
					img
						border-radius 50%
						border 1px solid #fff
						object-fit cover
						margin auto
						width auto
	.container
		h2
			color #fefefe
			font 90px ubuntumedium
			@media(max-width 414px)
				font 54px ubuntumedium
		.descripcion
			margin-top 20px
			p
				color #fefefe
				font 20px ubuntulight
				margin 0
		img
			margin-top 52px
			margin-bottom 30px
			width 100%
	.inner-beneficios
		margin-top 30px
		.master-circle
			border 4px solid rgba(254,254,255,0.2)
			border-radius 50%
			width 45vh
			height 45vh
			margin auto
			position relative
			@media(max-width 768px)
				width 25vh
				height 25vh
			@media(max-width 736px)
				width 45vh
				height 45vh
			.inner-circle
				width 80%
				height 80%
				border-radius 50%
				border 4px solid rgba(254,254,255,0.5)
				top 10%
				left 10%
				position absolute
				@media(max-width 768px)
					width 90%
					height 90%
					top 4%
					left 5%
				img
					width 100%
					border-radius 50%
					object-fit cover
					margin-top -2px
		.benLeft
			ul
				padding 0
				list-style none
				margin-top 30px
				margin-bottom 0
				margin-left -15px
				li
					margin-bottom 30px
					position relative
					@media(max-width 736px)
						text-align center
					&:last-child
						margin-bottom 0
					&:after
						content ""
						border-bottom 1px solid #fefeff
						position absolute
						left 0
						width 59%
						bottom 50%
						@media(max-width 1024px )
							width 45%
						@media(max-width 768px)
							width 25%
						@media(max-width 736px)
							display none
					&:hover
						span
							background #fefeff
						a
							font 22px ubuntulight
							font-weight 800
					&:nth-child(2)
						a
							margin-right 78px
						&:after
							width 50%
							@media(max-width 1024px )
								width 32%
							@media(max-width 768px)
								width 7%
							@media(max-width 736px)
								width 3%
					&:nth-child(3)
						a
							margin-right 8px
						&:after
							width 49%
							@media(max-width 1024px )
								width 31%
							@media(max-width 768px)
								width 7%
							@media(max-width 736px)
								width 2%
					&:nth-child(4)
						a
							margin-right 0
						&:after
							width 40%
							bottom 75%
							@media(max-width 1024px )
								width 19%
							@media(max-width 768px)
								width 57%
								bottom 85%
							@media(max-width 736px)
								width 55%
					a
						color #fefeff
						font 22px ubuntulight
						padding-left 13px
						text-decoration none
						@media(max-width 736px)
							margin 0px !important
					.active
						font 22px ubuntulight
						font-weight 800
					.fondoCircle
						background #fefeff
					span
						width 20px
						height 20px
						display inline-block
						border-radius 50%
						border 1px solid #fefeff
						margin 0
		.benRight
			padding-right 0
			ul
				padding 0
				list-style none
				margin-top 30px
				margin-bottom 0
				margin-left -15px
				li
					margin-bottom 30px
					margin-left 0
					position relative
					@media(max-width 736px)
						text-align center
						margin-left 0px !important
					&:last-child
						margin-bottom 0
					&:before
						content ""
						border-bottom 1px solid #fefeff
						position absolute
						right 0
						width 56%
						bottom 51%
						@media(max-width 1024px )
							width 43%
						@media(max-width 768px)
							width 25%
						@media(max-width 736px)
							display none
					span
						margin-left 5% !important
					&:hover
						span
							background #fefeff
						a
							font 22px ubuntulight
							font-weight 800
					.active
							font 22px ubuntulight
							font-weight 800
					.fondoCircle
						background #fefeff
					a
						color #fefeff
						font 22px ubuntulight
						text-decoration none
						@media(max-width 736px)
							margin 0px !important
					span
						width 20px
						height 20px
						display inline-block
						border-radius 50%
						border 1px solid #fefeff
						margin 0
					&:nth-child(2)
						margin-left 46px !important
						@media(max-width 736px)
							margin-left 0px !important
						span
							margin-left 12% !important
							@media(max-width 768px)
								margin-left 2% !important
						&:before
							content ""
							border-bottom 1px solid #fefeff
							position absolute
							width 42%
							bottom 51%
							@media(max-width 1024px )
								width 24%
							@media(max-width 768px)
								width 8%
							@media(max-width 736px)
								width 3%
					&:nth-child(3)
						margin-left 46px !important
						@media(max-width 736px)
							margin-left 0px !important
						span
							margin-left 10% !important
							@media(max-width 1024px )
								margin-left 1% !important
						&:before
							content ""
							border-bottom 1px solid #fefeff
							position absolute
							width 21%
							bottom 51%
							@media(max-width 1024px )
								width 3%
								bottom 66%
							@media(max-width 768px)
								width 35%
								bottom 30%
							@media(max-width 736px)
								width 32%
					&:nth-child(4)
						margin-left 0 !important
						display flex
						flex-flow row wrap
						@media(max-width 736px)
							display block
						a
							display flex !important
							text-align right !important
							@media(max-width 736px)
								display inline-block !important
						span
							margin-left 9% !important
							margin-top 1% !important
							@media(max-width 768px)
								margin-left 1% !important
						&:before
							content ""
							border-bottom 1px solid #fefeff
							position absolute
							width 40%
							bottom 48%
							@media(max-width 1024px )
								width 22%
							@media(max-width 768px)
								width 6%
							@media(max-width 736px)
								width 3%
		.row
			.arrow
				display block
				text-align center
				margin-top 20%
				margin-bottom 5%
			
.testimonio
	background #fff
	position relative
	padding-top 45px
	.header2
		background #fff
		.container
			.row
				a
					color #56534b
					font-size 45px
					text-decoration none
					img
						margin-top 20px
				.setLogin
					margin-top 30px
					img
						border-radius 50%
						border 1px solid #56534b
						object-fit cover
						margin auto
						width auto
	.container
		.row
			position relative
			h2
				color #505050
				font 90px ubuntumedium
				text-align right
				margin 0
				@media(max-width 414px)
					font 54px ubuntumedium
			.adaptive
				height 523px !important
				@media(max-width 736px)
					height auto !important
				li
					h4
						font 50px ubuntumediumitalic
						color #ff0000
						margin 0 0 15px 0
						span
							font 22px ubuntumediumitalic
							color #ff0000
					h5
						color #505050
						font 30px ubunturegular
						margin 0
					h6
						color #505050
						font 16px ubuntulightitalic
						margin 0
					p
						color #515151
						font 18px ubuntulight
						margin 15px 0 0 0
						padding-bottom 20px
					img
						width 100%
					.innerPersona
						.btnPlay
							position absolute
							top 50%
							left 0
							margin-left auto
							right 0
							margin-right auto
							img
								width initial
								display block
								margin auto
					.sliderImg
						height 100vh
						@media(max-width 736px)
							height auto
						.inner-testimonio
							margin-top 100px
							/*height 100%
							display flex
							flex-flow column wrap
							justify-content center*/
			.lSAction
				display none !important
			.lSSlideOuter
				.lSPager
					position absolute
					bottom 25px
					left 1%
					li
						a
							background #b7b7b7
					.active
						a
							background #464646
	#popup
		background rgba(0,0,0,0.90)
		display none
		position fixed
		top 0
		height 100%
		width 100%
		z-index  9999
		.center-popup
			display flex
			flex-flow column wrap
			position relative
			align-items center
			justify-content center
			height 100%
			.popup
				position relative
				height auto
				width 100%
				p
					color red
					font-size 30px
					display block !important
				#cerrarPopup
					position absolute
					top -4%
					left 70%
					color #ffff
					font 22px ubuntumedium
					display block
					text-decoration none
				iframe
					display block
					margin auto
	a
		position absolute
		bottom 9%
		left 50%
	.MenuVacantes
		@media(max-width 736px)
			bottom 20px
			left auto
			right 10px
.vacantes
	.fondoVacante
		background-image url("../../image/fondo-vacante.jpg")
		background-repeat no-repeat
		background-size cover
		height 350px
		position relative
		.inner-text
			position absolute
			bottom 30%
			h2
				color rgba(254,254,254,0.5)   
				font 70px ubuntumedium
				text-align center
				@media(max-width 414px)
					font 54px ubuntumedium
			p
				color #fff
				font 20px ubuntulight
				text-align center
	.tiposVacantes
		padding-top 100px
		padding-bottom 100px
		.row
			ul
				margin 0
				padding 0
				display flex
				justify-content space-around
				@media(max-width 414px)
					display block
				li
					display inline-block
					list-style none
					@media(max-width 414px)
						display block
					&:last-child
						margin-right 0
					a
						text-decoration none
						span
							display block
							margin-top 15px
							font 23px ubuntumedium
							color #df2027
@media (max-width: 768px)
	.container
		width 100%