.headerL
	background-image url("../../image/headerlogin.jpg")
	background-size cover
	background-repeat no-repeat
	position relative
	height 266px
	.container
		position absolute
		bottom 10%
		margin-left auto
		left 0
		margin-right auto
		right 0
		.row
			h2
				color #fefefe
				font 50px ubuntumedium
				@media(max-width 768px)
					font 33px ubuntumedium
.login
	background #fff9f8
	.container
		.inner-form
			margin-top 160px
			box-shadow 0 0 7px 2px #efe9e8
			border-radius 2px
			position relative
			img
				position absolute
				top -70px
				left 0
				margin-left auto
				right 0
				margin-right auto
			form
				padding-top 140px
				padding-bottom 50px
				margin-bottom 70px
				padding-left 30%
				padding-right 30%
				@media(max-width 768px)
					padding-left 20%
					padding-right 20%
				@media(max-width 736px)
					padding-left 15%
					padding-right 15%
				@media(max-width 414px)
					padding-left 15px
					padding-right 15px
				.col-xs-6
					@media(max-width 414px)
						width 100%
						text-align left
				.form-group
					input
						border 1px solid #707070
						margin auto
						border-radius 10px
						font 14px ubuntulight
						padding-left 28px
						background-position: 1% 50%; 
						color #626262
					.usuario
						background-image url("../../image/icouser.png")
						background-repeat no-repeat
					.contrasena
						background-image url("../../image/icopassword.png")
						background-repeat no-repeat
					button
						background #dd0000
						font 16px ubuntumedium
						color #fefefe
						border none
						width 100%
						margin auto
						display block
						border-radius 10px
						height 41px
					.checkbox
						input
							width initial
						label
							font 13px ubuntulight
							color #5d5d5d
							display inherit
					a
						font 13px ubuntulight
						color #5d5d5d
						text-decoration underline
					.separador
						text-align center
						h4
							color #05050d
							font 16px ubuntulight
							&:before
								content: "";
								border-bottom 1px solid #959595
								position absolute
								left 35px
								width 37%
								bottom 18px
							&:after
								content: "";
								border-bottom: 1px solid #959595;
								position: absolute;
								right: 35px;
								width: 37%;
								bottom: 18px;
				.facebook
					a
						background #4267b2
						display block
						text-align center
						margin auto
						color #fff
						width 195px
						border-radius 3px
						text-decoration none
						padding 12px 0
						.icon-facebook
							border 1px solid
							border-radius 3px
							background #fff
							color #4267b2
							font-size 18px
							vertical-align sub
						span
							font 14px helvetica
							color #fff
							font-weight bold
				.registrate
					span
						display inline-block
						font 16px ubuntulight
						color #05050d
					a
						font 16px ubuntumedium
						color #05050d
						text-decoration underline
						margin-left 12px