#menufixdt
	position fixed
	z-index 9
	top 0
	left 0
	right 0
	bottom 0
	width 0px
	transition opacity 1s ease-out
	opacity 0
.menuBurger
	background rgba(0,0,0,0.9)
	position fixed
	z-index 1
	top 0
	right 0
	display flex
	overflow hidden
	width 0
	height 100%
	transform translate(400px)
	align-items center
	transition: .3s;
	.row
		ul
			list-style none
			margin-left 40px
			li
				margin-bottom 30px
				a
					color #fefeff
					font 16px ubunturegular
					text-decoration none
					.icon-facebook
						transition all ease .5s
						&:hover
							color #4267B2
					.icon-linkedin2
						margin-left 20px
						transition all ease .5s
						&:hover
							color #0073B0
				.textoBurger
					transition all ease .3s
					&:hover
						color #ff1d1d
	.cerrarBurger
		position absolute
		top 5%
		right 5%
		color #fefeff
		font 20px ubunturegular
		text-decoration none
		transition all ease .3s
		&:hover
			color #ff1d1d
.menuBurger.tlmenu
	width 30%
	@media(max-width 600px)
		width 70%