.header
	width 100%
	background rgba(0,0,0,0.25)
	position absolute
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				@media(max-width 414px)
					margin-left 10px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.core-perfil
	.fcorePerfil
		background-image url("../../image/banner-vacante.jpg") 
		background-size cover
		height 370px
		background-repeat no-repeat
		position relative
		@media(max-width 414px)
			height 260px
		.tituloVacantes
			position absolute
			bottom 5%
			h1
				color rgba(254,254,254,0.5)
				font 70px ubuntumedium
			p
				color #fff
				margin-bottom 29px
				font 20px ubuntulight
	.inner-perfil
		background #fff9f8
		padding 40px 0
		min-height 550px
		.container
			.h-top-perfil
				margin-top -133px
			.row
				.header-perfil
					background #dd0000
					border-radius 8px
					font 20px ubunturegular
					color #fff
					margin-bottom 20px
					box-shadow 0 0 4px #cbcbcb
					.row div
						padding 20px
						@media(max-width 414px)
							width 100%
					h2
						i 
							font-size 23px
							font-weight 200
					p 
						font 18px ubuntulight
						i 
							text-align center
							width 20px
					.bg-blanco
						background #fff9f8
						border-radius 0px 8px 8px 0px
						overflow hidden
						position relative
						@media(max-width 414px)
							display none
						&:before
							content ""
							width 0px
							bottom 0px
							top 0px
							left 0px
							display block
							position absolute
							background #dd0000
							border-left 50px solid transparent
							border-bottom 184px  solid #fff9f8
							border-top 0px solid transparent
						figure
							width 140px
							height 140px
							background #ebebeb
							border-radius 50%
							display inline-block
							position relative
							img
								width 140px
								height 140px
							p 
								position absolute
								bottom -20px
								font 11px ubuntulight
								color #05050d
				.fichaPerfil
					background #fff
					box-shadow 0 0 10px 3px #cbcbcb
					border-radius 8px
					h3
						font 20px ubunturegular
					.nav-tabs > li
						width 50%
						text-align center
						background #f0efee
						@media(max-width 412px)
							width 100%
						a
							margin 0px
							border 0px
							color #3d3c3c
					.nav-tabs > li.active
						a
							background #dd0000
							color #fff
					div
						form
							margin 60px 0
							input
								margin-left 20px
								font 15px ubuntulight
								border-radius 5px
								color #05050d
								width 54%
								border 1px solid #959595
								margin-top 15px
								padding 6px
								@media(max-width 414px)
									width 100%
									margin 0px
									margin-bottom 15px
								&:first-child
									margin-top 0
							select
								margin-left 20px
								font 15px ubuntulight
								border-radius 5px
								width 54%
								color #05050d
								border 1px solid #959595
								margin-top 15px
								padding 6px
								@media(max-width 414px)
									width 100%
									margin 0px
									margin-bottom 15px
							input[type=radio]
								width auto
							label
								color #05050d
								width 40%
								font 16px ubuntulight
								text-align right
								@media(max-width 414px)
									width 100%
									text-align left
							#nombre-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 12%
								font 13px ubuntumedium
							#apellido-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 15%
								font 13px ubuntumedium
							#telefono-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 20%
								font 13px ubuntumedium
							#email-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 25%
								font 13px ubuntumedium
							#sueldo-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 42%
								font 13px ubuntumedium
							#file-error
								color #f00
								position absolute
								text-align left
								left 100%
								top 57%
								font 13px ubuntumedium
							.boxfoto
								span
									color #05050d
									font 16px ubuntulight
									text-align right
								div, span
									@media(max-width 414px)
										width 100%
										text-align left
							.inner-rbt
								margin-top 15px
								display flex
								flex-flow row wrap
								.columna
									width 40%
									@media(max-width 414px)
										width 100%
									&:last-child
										width 55%
										text-align center
										@media(max-width 414px)
											width 100%
											text-align left
										label
											width auto
											font 13px ubuntulight
											color #05050d
									label
										width 100%
										margin-top 8px
									.dama
										margin-left 20px
							#file
								opacity 0
								height 1px
								float right
							.file_label
								font 16px ubuntulight
								cursor pointer
								margin 15px 0 0 20px
								width 54%
								color #05050d
								position relative
								text-align left
								padding 6px 6px 6px 10px
								border 1px solid #959595
								border-radius 5px
								transition all .3s ease-in-out
								@media(max-width 414px)
									width 100%
									margin 0px
								&:hover
									background-color #959595
									color #fff
								.fa
									margin-right 5px
									position absolute
									right 5%
									color #aaaaaa
									&:hover
										color #fff
								span
									font 11px ubuntulight
									position absolute
									top 110%
									left 0
									color #05050d
							.avatar
								position relative
								@media(max-width 414px)
									margin-bottom 15px
								img
									width 150px
									height 150px
								input
									position absolute
									margin 0px
									padding 20px
									top 0px
									width 150px
									height 150px
									opacity 0
									cursor pointer
							a
								display block
								margin auto
								width 40%
								border none
								padding 10px 0
								border-radius 8px
								margin-top 60px
								background #dd0000
								text-align center
								text-decoration none
								color #fefefe
								font 15px ubuntumedium
							.boton
								display block
								margin auto
								width 40%
								border none
								padding 10px 0
								border-radius 8px
								margin-top 60px
								background #dd0000
								color #fefefe
								font 15px ubuntumedium
								@media(max-width 414px)
									width 100%
							.password
								margin 15px 0px
								label
									width 100%
									padding-right 25px
								input 
									width 100%
									margin 0px
					#historial
						padding 50px
						@media(max-width 414px)
							padding 50px 20px
						>div.row
							background #fff9f8
							padding 20px
							border-radius 8px
							margin-bottom 15px
						h2
							font 23px ubuntumedium
							color #d00
							margin 0px
						h3 
							font 17px ubuntumedium
							color #05050d
							margin 0px
						p
							font 16px ubuntulight
						a 
							font-size 25px
							margin-top 20px
							color #05050d
							display inline-block
						a.btn
							display block
							margin auto
							border none
							padding 10px 0
							border-radius 8px
							margin-top 20px
							background #d00
							text-align center
							text-decoration none
							color #fefefe
							font 15px ubuntulight
						.pagination
							li
								a, span
									margin 0px
									line-height 0px
									padding 14px 12px
									font-size 14px
	#popup
		background rgba(0,0,0,0.90)
		display none
		position fixed
		top 0
		height 100%
		width 100%
		z-index  9999
		.center-popup
			display flex
			flex-flow column wrap
			position relative
			align-items center
			justify-content center
			height 100%
			.popup
				position relative
				height auto
				width 50%
				background #fff9f8
				border-radius 8px
				padding-bottom 20px
				img
					position absolute
					top -13%
					left 40%
					button
						display block
						margin auto
						width 100%
						border none
						padding 10px 0
						border-radius 8px
						margin-top 10px
						background #dd0000
						color #fefefe
						font 15px ubuntumedium
				h2
					color #dd0000
					font 25px ubunturegular
					margin-top 125px
					text-align center
				p
					font 14px ubuntulight
					color #05050d
					margin-top 30px
					text-align center
				#cerrarPopup
					display block
					color #fff
					background #dd0000
					bottom 0
					left 0
					font 17px ubunturegular
					width 60%
					margin 40px auto 40px auto
					position relative
					text-align center
					text-decoration none
					border-radius 8px
					padding 7px 0
		a
			position absolute
			bottom 2%
			left 50%
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
@media (max-width: 768px)
	.container
		width 100%