.header
	width 100%
	background rgba(0,0,0,0.25)
	position absolute
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				@media(max-width 414px)
					margin-left 10px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.core-perfil
	.fcorePerfil
		background-image url("../../image/banner-vacante.jpg") 
		background-size cover
		height 370px
		background-repeat no-repeat
		position relative
		@media(max-width 414px)
			height 260px
		.tituloVacantes
			position absolute
			bottom 5%
			h1
				color rgba(254,254,254,0.5)
				font 70px ubuntumedium
				@media (max-width: 414px)
					font 54px ubuntumediumitalic
			p
				color #fff
				margin-bottom 29px
				font 20px ubuntulight
	.inner-perfil
		background #fff9f8
		padding 40px 0
		min-height 550px
		.container
			.h-top-perfil
				margin-top -133px
			.row
				.nav
					margin-top 50px
					li 
						a 
							background #d00
							color #fff
							border-bottom 1px solid #fff
							&:hover
								background #222
				.fichaPerfil
					background #fff
					box-shadow 0 0 10px 3px #cbcbcb
					border-radius 8px
					#postulantes
						padding 50px
						@media(max-width 414px)
							padding 50px 20px
						.filtro-top
							display inline-block
							width 100%
							padding-left 0px
							margin-bottom 20px
							li
								display inline-block
								list-style none
								width 50%
								float left
								text-align center
								a 
									display block
									padding 10px
									background #eee
									color #222
								&.active
									a 
										background #d00
										color #fff
						>div.row
							background #fff9f8
							padding 20px
							border-radius 8px
							margin-bottom 15px
							table
								tr
									td 
										vertical-align middle
										.btn 
											font-size 13px
											display inline-block
											padding 5px 10px
											border-radius 0px
						.filtros
							padding-bottom 10px
							border-bottom 1px solid #fff
							margin-bottom 10px
						h2
							font 23px ubuntumedium
							color #d00
							margin 0px
						h3 
							font 17px ubuntumedium
							color #05050d
							margin 0px
						p
							font 16px ubuntulight
						a 
							font-size 16px
							margin-top 0px
							color #05050d
							display inline-block
						a.btn
							display block
							margin auto
							border none
							padding 10px 0
							border-radius 8px
							background #d00
							text-align center
							text-decoration none
							color #fefefe
							font 15px ubuntulight
						.pagination
							li
								a, span
									margin 0px
									line-height 0px
									padding 14px 12px
									font-size 14px
					.paso1
						display block
					.paso2
						display none
						#maspreguntas
							.row
								position relative
								.menositem
									position absolute
									top 20px
									right 10px
									background #222
									color #fff
									padding 5px 10px
	
	.detalle-descripcion
		.fechaPublicacion
			img 
				vertical-align initial
	#popup
		background rgba(0,0,0,0.90)
		display none
		position fixed
		top 0
		height 100%
		width 100%
		z-index  9999
		.center-popup
			display flex
			flex-flow column wrap
			position relative
			align-items center
			justify-content center
			height 100%
			.popup
				position relative
				height auto
				width 50%
				background #fff9f8
				border-radius 8px
				padding-bottom 20px
				img
					position absolute
					top -13%
					left 40%
					button
						display block
						margin auto
						width 100%
						border none
						padding 10px 0
						border-radius 8px
						margin-top 10px
						background #dd0000
						color #fefefe
						font 15px ubuntumedium
				h2
					color #dd0000
					font 25px ubunturegular
					margin-top 125px
					text-align center
				p
					font 14px ubuntulight
					color #05050d
					margin-top 30px
					text-align center
				#cerrarPopup
					display block
					color #fff
					background #dd0000
					bottom 0
					left 0
					font 17px ubunturegular
					width 60%
					margin 40px auto 40px auto
					position relative
					text-align center
					text-decoration none
					border-radius 8px
					padding 7px 0
		a
			position absolute
			bottom 2%
			left 50%
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
@media (max-width: 768px)
	.container
		width 100%