.headerR
	background-image url("../../image/headerlogin.jpg")
	background-size cover
	background-repeat no-repeat
	position relative
	height 266px
	.container
		position absolute
		bottom 10%
		margin-left auto
		left 0
		margin-right auto
		right 0
		.row
			h2
				color #fefefe
				font 50px ubuntumedium
				text-align center
.recuperaremail
	background #fff9f8
	.container
		.inner-form
			margin-top 60px
			margin-bottom 60px
			box-shadow 0 0 7px 2px #efe9e8
			border-radius 2px
			img
				display block
				margin auto
				padding 40px 0
			form
				padding-top 50px
				padding-bottom 50px
				.form-group
					input
						width 375px
						border 1px solid #707070
						margin auto
						border-radius 10px
						font 14px ubuntulight
						padding-left 28px
						background-position: 1% 50%; 
						color #626262
					.usuario
						background-image url("../../image/icouser.png")
						background-repeat no-repeat
					.contrasena
						background-image url("../../image/icopassword.png")
						background-repeat no-repeat
					.correo
						background-image url("../../image/icomail.png")
						background-repeat no-repeat
					button
						background #dd0000
						font 16px ubuntumedium
						color #fefefe
						border none
						width 375px
						display block
						border-radius 10px
						height 41px
					.separador
						text-align center
						h4
							color #05050d
							font 16px ubuntulight
							&:before
								content: "";
								border-bottom 1px solid #959595
								position absolute
								left 35px
								width 33%
								bottom 18px
							&:after
								content: "";
								border-bottom: 1px solid #959595;
								position: absolute;
								right: 35px;
								width: 33%;
								bottom: 18px;
				.facebook
					a
						background #4267b2
						display block
						text-align center
						margin auto
						color #fff
						width 27%
						border-radius 3px
						text-decoration none
						padding 12px 0
						.icon-facebook
							border 1px solid
							border-radius 3px
							background #fff
							color #4267b2
							font-size 18px
							vertical-align sub
						span
							font 14px helvetica
							color #fff
							font-weight bold