.header
	width 100%
	background rgba(0,0,0,0.25)
	position absolute
	z-index 1
	.container
		height 100%
		.row
			height 100%
			display flex
			align-items center
		a
			img
				margin 10px 0
		ul
			li
				list-style none
				display inline-block
				vertical-align middle
				margin-left 14px
				@media(max-width 414px)
					margin-left 10px
				a
					font 15px ubuntulight
					color #fff
					text-decoration none
					.icon-menu
						color #fff
						font-size 25px
.core-vacantes
	.fcoreVacantes
		background-image url("../../image/banner-vacante.jpg") 
		background-size cover
		height 370px
		background-repeat no-repeat
		position relative
		.tituloVacantes
			position absolute
			bottom 5%
			h1
				color rgba(254,254,254,0.5)
				font 70px ubuntumedium
				@media(max-width 768px)
					font 54px ubuntumedium
			p
				color #fff
				margin-bottom 29px
				font 20px ubuntulight
	.fondoFiltro
		background rgba(221,0,0,0.8)
		padding 40px 0
		.textfiltro
			text-align right
			@media(max-width 768px)
				text-align center
		p
			color #fefefe
			font 24px ubuntulight
			margin 10% 0 0 0
			@media(max-width 768px)
				margin 0px
		label
			display block
			color #fefefe
			position relative
			&:before
				background-image url("../../image/downselect.png")
				content ' '
				top 39px
				right 6px
				position absolute
				width 14px
				height 12px
				z-index 9
		select
			background #fff
			width 100%
			-webkit-appearance none
			font 14px ubuntulight
			direction rtl
			color #5d5d5d
			padding 10px 15% 10px 0
			border none
			border-radius 8px
		button
			margin-top 27px
	.inner-vacante
		background #fff9f8
		padding-bottom 30px
		min-height 420px
		.alert
			span
				background #98d281
				padding 3px 6px
				color #eaeaea
				margin-left 5px
		#frm-search
			input
				padding 5px 10px
		.container
			a
				font 15px ubuntulightitalic
				color #828181
				margin 25px 0 15px 0
				text-decoration none
				display block
			a.atras
				display inline-block
			.cerrarAlert
				position absolute
				top 10%
				right 2%
			p
				color #828181
				font 16px ubuntulight
				display inline-block
				margin-top 10px
			input
				width 100%
				border 1px solid #f1f1f1
				border-radius 8px
				padding 5px 0
			
			.descVacante
				box-shadow 0 0 10px 3px #cbcbcb
				border 1px solid #f0efee
				border-radius 10px
				margin-top 20px
				background #fff
				height 280px
				padding 20px
				transition .3s all ease
				@media(max-width 768px)
					height 318px
				@media(max-width 736px)
					height auto
				span
					font 15px ubuntulightitalic
					color #05050d
				h3
					font 22px ubuntumedium
					color #dd0000
				h5
					font 18px ubuntumedium
					color #05050d
				p
					font 16px ubuntulight
					color #0b0b0b
				a
					background #dd0000
					font 13px ubuntumedium
					color #fff
					text-align center
					margin 10px 0 0 0
					width 20%
					border-radius 10px
					padding 10px
					@media(max-width 768px)
						width 100%
				&:hover
					background #cbcbcb
					border 1px solid #cbcbcb
					box-shadow 0 0 10px 3px #cbcbcb
			ul
				list-style none
				margin 40px 0
				display inline-flex
				li
					margin-right 10px
					a
						font 16px ubunturegular
						transition .3s all ease
						color #828181
						&:hover
							color #373737
					.active
						color #373737
			.pagination
				li
					a, span
						margin 0px
						line-height 0px
						padding 14px 12px
	.menuBurger
		background rgba(0,0,0,0.9)
		position fixed
		z-index 1
		top 0
		right 0
		display flex
		overflow hidden
		width 0
		height 100%
		transform translate(400px)
		align-items center
		transition: .3s;
		.row
			ul
				list-style none
				margin-left 40px
				li
					margin-bottom 30px
					a
						color #fefeff
						font 16px ubunturegular
						text-decoration none
						.icon-facebook
							transition all ease .5s
							&:hover
								color #4267B2
						.icon-linkedin2
							margin-left 20px
							transition all ease .5s
							&:hover
								color #0073B0
					.textoBurger
						transition all ease .3s
						&:hover
							color #ff1d1d
		.cerrarBurger
			position absolute
			top 5%
			right 5%
			color #fefeff
			font 20px ubunturegular
			text-decoration none
			transition all ease .3s
			&:hover
				color #ff1d1d
@media (max-width: 768px)
	.container
		width 100%