@font-face {
    font-family: 'ubuntubold';
    src: url('../font/ubuntu-bold/ubuntu-bold-webfont.eot');
    src: url('../font/ubuntu-bold/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-bold/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../font/ubuntu-bold/ubuntu-bold-webfont.woff') format('woff'),
         url('../font/ubuntu-bold/ubuntu-bold-webfont.ttf') format('truetype'),
         url('../font/ubuntu-bold/ubuntu-bold-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntubolditalic';
    src: url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.eot');
    src: url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.ttf') format('truetype'),
         url('../font/ubuntu-bold-italic/ubuntu-bolditalic-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntuitalic';
    src: url('../font/ubuntu-italic/ubuntu-italic-webfont.eot');
    src: url('../font/ubuntu-italic/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-italic/ubuntu-italic-webfont.woff2') format('woff2'),
         url('../font/ubuntu-italic/ubuntu-italic-webfont.woff') format('woff'),
         url('../font/ubuntu-italic/ubuntu-italic-webfont.ttf') format('truetype'),
         url('../font/ubuntu-italic/ubuntu-italic-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('../font/ubuntu-light/ubuntu-light-webfont.eot');
    src: url('../font/ubuntu-light/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-light/ubuntu-light-webfont.woff2') format('woff2'),
         url('../font/ubuntu-light/ubuntu-light-webfont.woff') format('woff'),
         url('../font/ubuntu-light/ubuntu-light-webfont.ttf') format('truetype'),
         url('../font/ubuntu-light/ubuntu-light-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulightitalic';
    src: url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.eot');
    src: url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.woff') format('woff'),
         url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.ttf') format('truetype'),
         url('../font/ubuntu-light-italic/ubuntu-lightitalic-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntumedium';
    src: url('../font/ubuntu-medium/ubuntu-medium-webfont.eot');
    src: url('../font/ubuntu-medium/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-medium/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../font/ubuntu-medium/ubuntu-medium-webfont.woff') format('woff'),
         url('../font/ubuntu-medium/ubuntu-medium-webfont.ttf') format('truetype'),
         url('../font/ubuntu-medium/ubuntu-medium-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntumediumitalic';
    src: url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.eot');
    src: url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.woff') format('woff'),
         url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.ttf') format('truetype'),
         url('../font/ubuntu-medium-italic/ubuntu-mediumitalic-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubunturegular';
    src: url('../font/ubuntu-regular/ubuntu-regular-webfont.eot');
    src: url('../font/ubuntu-regular/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-regular/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../font/ubuntu-regular/ubuntu-regular-webfont.woff') format('woff'),
         url('../font/ubuntu-regular/ubuntu-regular-webfont.ttf') format('truetype'),
         url('../font/ubuntu-regular/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?pzz712');
  src:  url('../font/icomoon.eot?pzz712#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?pzz712') format('truetype'),
    url('../font/icomoon.woff?pzz712') format('woff'),
    url('../font/icomoon.svg?pzz712#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mi:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}

