@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pzz712');
  src:  url('fonts/icomoon.eot?pzz712#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pzz712') format('truetype'),
    url('fonts/icomoon.woff?pzz712') format('woff'),
    url('fonts/icomoon.svg?pzz712#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mi:before {
  content: "\e900";
  color: #fff;
}
.icon-menu:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
